@font-face {
    font-family: "Gilroy Bold";
    src: url(../fonts/Gilroy-Bold.ttf);
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35%;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Nunito";
    background-color: #F4F4F4;
}

.body-home {
    background-color: #6C05CD
}

.body-gradient {
    background: linear-gradient(#CD0CFD, #6C05CD);
    background-size: cover;
    background-repeat: no-repeat;

}

.d-title-registro {
    text-align: center;
    padding-top: 8vh;
}

.d-title-registro img {
    width: 40px;
    margin-right: 15px;
}

.d-title-registro p {
    font-size: 25px;
    color: white;
    font-family: "Nunito";
    font-weight: 300;

}

.d-title-registro p b {
    border-left: 1px solid white;
    margin-right: 20px;
}

.d-form-registro {
    padding-top: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.d-inputs-form {
    background-color: white;
    border-radius: 20px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.input-form-home {
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.label-form-home {
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    padding-left: 25px;
    margin-bottom: 0px;
}

.input-form-home {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    font-weight: 600;
    transition: .4s;
    font-size: 16px;
}

.input-form-home:focus,
.input-form-home:active {
    box-shadow: none;
    outline: 0;
    border-color: #CC0CFD;
}

.btn-form-home {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.d-footer-form {
    text-align: center;
    padding-top: 10vh;
}

.d-footer-form p {
    color: white;
    font-weight: 400;
    font-size: 14px;

}

.d-footer-form a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.navbar-bottom {
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px -5px 15px 0px rgba(12, 0, 46, 0.05);

}

.navbar-bottom a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 9px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
}

.navbar-bottom a .active {
    opacity: 1;
}

.navbar-bottom a .influencers {
    width: 23px;

}

.navbar-bottom a .agregar {
    width: 37px;
    opacity: 1;
    margin-top: -5px;
    padding: 0px
}

.navbar-bottom img {
    width: 20px;
    opacity: .4;
}

.row-navbar {}

.d-logo-navbar img {
    width: 15vh;
}

.d-btns-navbar {
    text-align: right;
}

.p-burger {
    padding-top: 4px;
}

.p-burger .img-1 {
    width: 20px;
    margin-right: 20px;
}

.p-burger .img-2 {
    width: 25px;

}

.btn-menu {
    padding: 0px !important;
    margin: 0px;
    border: none;
}

.btn-menu:active,
.btn-menu:focus {
    box-shadow: none;
}

.d-item-inicio {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.05);
    box-shadow: -10px 30px 50px 0px rgba(12, 0, 46, 0.05);
    margin-bottom: 25px;
}

.row-items-inicio {
    padding-top: 10px;
}

.d-img-item-inicio img {
    width: 50px;
}

.d-info-item-inicio .t1 {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 14px;
}

.d-info-item-inicio .t2 {
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 10px;
    color: rgba(0, 0, 0, .5);
    margin-top: -1px;
}

.d-info-item-inicio .t3 {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 12px;
    color: #009EC4;
    margin-top: -2px;
}

.d-btn-item-inicio .t1 {
    text-align: right;
    margin: 0px;
    font-size: 16px;
    color: rgba(0, 0, 0, .5);
}

.row-img-item-inico {
    padding-top: 10px;
}

.d-title-item-inicio {
    padding-top: 10px;
}

.d-title-item-inicio .t1 {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 600;
}

.img-item-inicio {
    height: 20vh;
}

#img-item-inicio-1 {
    background-image: url(../images/bg-item-inicio-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img-item-inicio-2 {
    background-image: url(../images/bg-item-inicio-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.d-btns-like-share,
.d-btn-guardar {
    padding-top: 10px;
}

.d-btns-like-share .t1 {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0px;
}

.d-btns-like-share img {
    width: 16px;
    opacity: .5;
}

.d-btns-like-share .img-1 {
    margin-right: 7px;
}

.d-btns-like-share .img-2 {
    margin-right: 7px;
    margin-left: 15px;
}

.d-btn-guardar img {
    width: 13px;
    opacity: .3;
    margin-top: -5px;
}

.d-btn-guardar {
    text-align: right;
}

#p-premium {
    color: #dfc979;
}

.d-item-influencer {
    background-color: white;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.05);
    box-shadow: -10px 30px 50px 0px rgba(12, 0, 46, 0.05);
    margin-bottom: 25px;
}

.d-info-influencer {
    text-align: right;
}

.d-info-influencer .t1 {
    font-size: 14px;
    font-weight: 800;
    color: #6C05CD;
    margin-bottom: 5px;
}

.d-info-influencer .t2 {
    font-size: 30px;
    font-weight: 800;
    color: rgba(0, 0, 0, .4);
    margin-bottom: -20px;
}

.d-info-influencer .t3 {
    font-size: 30px;
    font-weight: 800;
    color: black;
    margin: 0px;
}

.d-info-influencer .t4 {
    font-size: 12px;
    font-weight: 800;
    color: rgba(0, 0, 0, .3);
    margin: 0px;
    margin-top: -4px;
}

.d-info-influencer .t4 i {
    margin-right: 5px;
}


.d-seguidores {
    display: flex;
}

.d-seguidores .d-img img {
    width: 27px;
}

.d-seguidores {
    text-align: left;
}

.d-seguidores .d-info .t1 {
    margin-bottom: -4px;
    font-size: 13px;
    color: black;
    padding-left: 10px;
}

.d-seguidores .d-info .t2 {
    margin-bottom: 0px;
    font-size: 10px;
    color: rgba(0, 0, 0, .3);
    padding-left: 10px;
}

.row-count-popular {
    padding-top: 15px;
    padding-left: 13px;
}

#d-influencer-1 {
    background-image: url(../images/influencer-1.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -90px 0px;

}

#d-influencer-2 {
    background-image: url(../images/influencer-2.jpg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: -60px -104px;
}

#d-influencer-3 {
    background-image: url(../images/influencer-3.jpg);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: -40px -50px;
}

#d-influencer-4 {
    background-image: url(../images/influencer-4.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: -80px -50px;
}

.overlay-white {
    position: relative;
    z-index: 1;
}

.overlay-white:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 1) 40%);
    opacity: 1;
    z-index: -2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.overlay-white-popular {
    position: relative;
    z-index: 1;
}

.overlay-white-popular:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%);
    opacity: 1;
    z-index: -2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.row-name-influencer-item .t1 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    text-align: left;
    padding-left: 0.5rem;
}

.row-name-influencer-item .t2 {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
    padding-top: 6px;
    margin-bottom: 0px
}

.row-name-influencer-item .t2 i {
    font-size: 12px;
    color: rgba(0, 0, 0, .2);
    margin-right: 4px;
}

.row-count .d-seguidores .d-info .t1 {
    margin-bottom: -4px;
    font-size: 13px;
    color: black;
    padding-left: 10px;
    font-weight: 700;
}

.row-count .d-seguidores .d-info .t2 {
    margin-bottom: 0px;
    font-size: 10px;
    color: rgba(0, 0, 0, .3);
    padding-left: 10px;
    font-weight: 600;
}

.row-count {
    padding-top: 13px;
    padding-left: 11px;
}

.d-left-name {
    font-size: 23px;
    font-family: "Gilroy Bold";

}

.d-left-name .t1 i {
    margin-right: 20px;
}

#d-basico {
    background: linear-gradient(-140deg, #CD0CFD, #6C05CD);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(200, 12, 251, 0.1);
    box-shadow: 0px 30px 30px 3px rgba(200, 12, 251, 0.1);

}

#d-profesional {
    background: linear-gradient(-140deg, #00C8CB, #072483);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 200, 203, 0.1);
    box-shadow: 0px 30px 30px 3px rgba(0, 200, 203, 0.1);

}

#d-premium {
    background: linear-gradient(-140deg, #DABD6D, #4A4020);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(218, 189, 109, 0.1);
    box-shadow: 0px 30px 30px 3px rgba(218, 189, 109, 0.1);

}

.d-item-suscribirte {
    margin-bottom: 20px;
    border-radius: 15px;
}

.d-info-suscribete {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.d-info-suscribete .t1 {
    color: white;
    font-size: 23px;
    font-family: "Gilroy Bold";
    margin-bottom: 0px;
}

.d-info-suscribete .t2 {
    color: white;
    font-size: 20px;
    text-align: right;
    font-family: "Open Sans";
    margin-bottom: 0px;
    font-weight: 400;
}

.d-info-suscribete .t2 sup {
    color: white;
    font-size: 10px;
}

.d-precio-suscribete {
    padding-top: 6px;
}

.d-info-suscribete .t3 {
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.btn-suscribirte {
    color: black;
    background-color: white;
    border-radius: 100px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 12px;

}

.btn-suscribirte:active,
.btn-suscribirte:focus {
    box-shadow: none;
    outline: 0;
}

.row-items-suscribirte {
    padding-top: 10px;

}

.info-pago {
    background-color: white;
    border-radius: 15px;
    padding-top: 30%;
    text-align: center;
    padding-bottom: 30%;
}

.info-pago img {
    width: 130px;
}

.info-pago .t1 {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 0px;
}

.info-pago .t2 {
    font-size: 18px;
    color: rgba(0, 0, 0, .4);
    font-weight: 600;
}

.row-pago {
    padding-top: 30px;
}

.btn-purple-lg {
    width: 100%;
    border-radius: 15px;
    background-color: #7C06D5;
    color: white;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(124, 6, 213, 0.1);
    box-shadow: 0px 30px 30px 3px rgba(124, 6, 213, 0.1);
    font-size: 18px;

}

.btn-purple-lg:hover {
    color: white;
}

.form-pagar label {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
}

.p-total {
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: 600;
}

.form-pagar input {
    background-color: rgba(0, 0, 0, .05);
    border: none;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans";
}

.form-pagar input:active,
.form-pagar input:focus {
    box-shadow: none;
    outline: 0;
    background-color: rgba(0, 0, 0, .05);
}

.d-foto-nombre-perfil img {
    width: 100px;
    margin-right: 30px;
}

.d-foto-nombre-perfil .t1 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 22px;
    margin-bottom: 0px;
}

.d-foto-nombre-perfil .t2 {
    font-weight: 700;
    color: rgba(0, 0, 0, .3);
    font-size: 16px;
}

.row-nombre-perfil {
    padding-top: 15px;
}

.row-items-perfil {
    padding-top: 30px;
}

.d-info-perfil .t1 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #8909E2;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.d-info-perfil .t2 {
    font-size: 16px;
    font-weight: 600;
    color: black;
    letter-spacing: .2px;
    margin-bottom: 5px;
}

.d-chevron-perfil {
    text-align: right;
    padding-top: 10px;
}

.d-chevron-perfil i {
    font-size: 23px;
    color: #8909E2;
}

.row-d-info-perfil {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 14px;
    margin-bottom: 25px;
}

.d-tipo-tarifas .t1 {
    color: rgba(0, 0, 0, .3);
    font-weight: 600;
    font-size: 16px;
    margin: 0pc;
    text-align: r
}

.d-tipo-tarifas .t1 i {
    margin-right: 10px;
    color: rgba(0, 0, 0, .2);
}

.d-info-tarifas img {
    float: left;
    width: 40px;
    margin-right: 20px;
}

.d-info-tarifas .t1 {
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
}

.d-info-tarifas .t2 {
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
    color: rgba(0, 0, 0, .4);
    margin-top: -3px;
}

.row-info-tarifas {
    padding-top: 10px;
}

.row-items-tarifas {
    padding-top: 20px;

}

.d-item-tarifas {
    background-color: white;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.05);
    box-shadow: -10px 30px 50px 0px rgba(12, 0, 46, 0.05);
}

.d-left-tarifas .t1 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0px;
}

.d-left-tarifas .t2 {
    font-size: 9px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, .5);
    line-height: 17px;
}

.d-left-tarifas .t3 {
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "Open Sans";
}

.d-right-tarifas {
    padding-top: 20px;
}

.d-right-tarifas img {
    width: 20px;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.d-right-tarifas .t1 {
    font-size: 15px;
    font-family: "Open Sans";
    color: #8909E2;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: right;

}

.d-right-tarifas .t2 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: right;
    color: rgba(0, 0, 0, .4);
}

.d-right-tarifas-eventos {
    text-align: center;
    padding-top: 15px;
}

.d-right-tarifas-eventos img {
    width: 60%;
}


.body-influencer-item {
    background-image: url(../images/influencer-1-v.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -7vh -11vh;
}

.body-influencer-item-2 {
    background-image: url(../images/influencer-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -7vh -11vh;
}

.body-influencer-item-3 {
    background-image: url(../images/influencer-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -7vh -11vh;
}

.body-influencer-item-4 {
    background-image: url(../images/influencer-4-v.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -7vh -11vh;
}


.overlay-influencer-item {
    position: relative;
    z-index: 1;
}

.overlay-influencer-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(195, 9, 248, .17) 30%, rgba(137, 9, 226, 1) 80%);
    opacity: 1;
    z-index: -2;
}


.row-title-influencer {
    padding-top: 25vh;
}

.row-title-influencer .t1 {
    font-size: 45px;
    color: white;
    font-family: "Gilroy Bold";
    line-height: 50px;
    margin: 0px;
}

.row-title-influencer .t2 {
    font-size: 17px;
    color: white;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    right: 25px;
}

.row-title-influencer .t2 i {
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.row-numbers-influencer {
    padding-top: 15px;
}

.d-numbers-influencer img {
    width: 47px;
    float: left;
    margin-right: 20px;
}

.d-numbers-influencer .t1 {
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
}

.d-numbers-influencer .t2 {
    color: rgba(255, 255, 255, .6);
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
    margin-top: -5px;
    letter-spacing: .1px;
}


.row-cards {
    padding-top: 20px;

}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card-item-influencer {
    display: inline-block;
}

.card-item-influencer {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 20px;

}

.card-item-influencer .t1 {
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
}

.card-item-influencer .t2 {
    font-weight: 400;
    font-size: 35px;
    color: #8909E2;
    font-family: "Open Sans";
    margin: 0px;
}

.card-item-influencer .t3 {
    font-weight: 400;
    font-size: 13px;
    color: black;
    margin: 0px;
    white-space: normal;
    line-height: 22px;
    padding-top: 5px;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}


#content-influencer-item {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


.form-check-pagar {
    padding-top: 30px;
}

.form-check-pagar .form-check-input {
    margin-top: 8px;
}

.form-check-label a {
    color: #007BFF;
}

.row-horizontal {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 17px;
    padding-top: 4vh;
}

.card {
    /*float: left;*/
    width: 66%;
    padding: 25px;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 66%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 0px;
    color: rgba(0,0,0,.6);
}

.card{
    border-radius: 15px;
    border: none;
}

.card-number{
    color: #8709E0;
    font-size: 40px;
    font-family: "Open Sans";
    margin-bottom: 0px;
}

.card-number b{
    font-size: 16px;
    font-weight: 600;
}

